[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
boto3 = "*"
pyyaml = "*"

[dev-packages]
awscli = "*"
jupyter = "*"
coverage = "*"
pylint = "*"
moto = "*"
matplotlib = "*"
memory-profiler = "*"

[requires]
python_version = "3.9"
